sudo: required

language: python

python:
  - "3.5"

env:
  - FULLSTACK_WORKSPACE=/tmp

services:
  - docker

before_install:
  - make requirements
  - make dev.clone

script:
  #- make dev.provision-noassets
  - travis_wait 40 make dev.provision
  - make dev.up
  # - sleep 120
  - make dev.fullstack.up
  - sleep 60 # LMS needs like 60 seconds to come up
  - make healthchecks
  # - make validate-lms-volume

